
@font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/cbf647/000000000000000077359d61/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/cbf647/000000000000000077359d61/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/cbf647/000000000000000077359d61/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n8&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
  }
  
  
  html body .vc_row-fluid>.span_12>.wpb_column:not([class*=offset-]) {
    margin-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  a:link { text-decoration: none;
  }
  .markersSections{
    /* color: transparent; */
  }
  /*-------------------------------------MARGINS*/
  .zIndex101{
    z-index: 101;
  }
  .zIndex-1{
    z-index: -1!important;
  }
  .containerFlex{
    display: flex!important;
  }
  .justContCenter{
    justify-content: center!important;
    align-items: center;
  }
  .textCenter{
    text-align: center!important;
  }
  .maginCero{
    margin: 0% auto!;
  }
  .marginTop800{
    margin-top: 800px;
  }
  .marginTop390{
    margin-top: 390px;
  }
  .marginTop285{
    margin-top: 285px;
  }
  .marginTop250{
    margin-top: 250px;
  }
  .marginTop180{
    margin-top: 180px;
  }
  .marginTop150{
    margin-top: 150px;
  }
  
  .marginTop75{
    margin-top: 75px;
  }
  
  .mt-2{
    margin-top: 20px;
  }
  .mt-3{
    margin-top: 30px;
  }
  
  .withLargeBoxLeft{
    width: 25%!important;
  }
  /*-------------------------------------COLORS*/
  .black{
    color: black!important;
  }
  .white{
    color: white!important;
  }
  .arrowBlackBGWhite{
    width: 20px!important;
    position:relative;
    left: 30px;
    /* bottom: -15px; */
  }
  
  .arrowWhiteBGWhite{
    width: 20px!important;
    position:relative;
    left:-20px;
    opacity: 0;
  }
  .butonUnderHeroTitle{
    /* margin: aunto; */
    color: black;
    cursor: pointer;
  }
  
  .butonUnderHeroTitle:hover .arrowWhiteBGWhite{
    /*transform: rotate(45deg);
    transition: 0.5s all;
    opacity:1;*/
  }
  
  .butonUnderHeroTitle:hover .arrowBlackBGWhite{
    transform: rotate(45deg);
    transition: 0.5s all;
  
  }
    .lottie-trigger, .lottie-trigger2, .lottie-trigger3, 
    .lottie-trigger4, .lottie-trigger5, .lottie-trigger6, 
    .lottie-trigger7{
      height: 100vh;
    }
  .buttonsWraps{
    box-sizing: border-box;
    list-style: none;
    width: 100px;
    position: fixed;
    bottom: 80px; 
    z-index: 100;
  }
  .buttons{
    border-radius: 20px;
    margin-top: 8px;
    padding: 0 15px 0 15px ;
    cursor: pointer;
    font-size: 20px;
  }
  .buttonBackToTop{
    padding: 10px 20px 10px 20px !important;
    opacity: 0;
  }
  .buttonsLI{
    height: 35px;
  }
  .buttons:hover, .buttons:active{
    background-color: #002527;
    color: #fff;
    transition: all 350ms;
  }
  .buttonSelected{
    background-color: #002527;
    color: #fff;
  }
  .highLighter{
    /* background-color: #CDDB23;
    font-family: "aktiv-grotesk",sans-serif;
    font-weight: 700; 
    line-height: 1.2; */
    position:relative;
  }
  .highLighter:before{
    content:"";
    background-color:#CDDB23;
    width:100%;
    height:0.85em;
    position:absolute;
    z-index:-1;
    /*filter:url(#marker-shape);*/
    left:-0.25em;
    top:0em;
    padding:0 0.2em;
  }
  .highLighterBlack{
    position:relative;
  }
  .highLighterBlack:before{
    content:"";
    background-color:black;
    width:100%;
    height:0.85em;
    position:absolute;
    z-index:-1;
    left:-0.25em;
    top:0em;
    padding:0 0.1em;
  }
  .butonUnderTitles{
    font-family: "aktiv-grotesk", sans-serif;
    position: absolute;
    bottom: 5%;
    left: 50%;
    opacity: 0;
    text-align: center;
    z-index: 101;
    font-size: 20px;
  }

  /*-----------------------------------ANIMATION1---*/
  .titleHeroMegaBoltLine1{
    position: relative;
    top: 130px;
    left: 240px;
    font-size: 120px!important;
    width: 65%!important;
    text-align: center!important;
    line-height: 1!important;
    font-weight: 800!important;
    
  }
  .titleHeroMegaBoltLine2{
    position: relative;
    top: 130px;
    left: 550px;
    font-size: 120px!important;
    /* font-size: 5.5rem!important; */
    width: 65%!important;
    text-align: center!important;
    line-height: 1!important;
    font-weight: 800!important;
  }
  .titleHeroMegaBoltLine3{
    position: relative;
    top: 130px;
    left: 260px;
    font-size: 120px!important;
    width: 65%!important;
    text-align: center!important;
    line-height: 1!important;
    font-weight: 800!important;
  }
  .titleHero{
    font-family: "aktiv-grotesk",sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    width: 75%;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: left;
    opacity: 0;
    transform: translate(-50%, -50%);
    line-height: 1.2;
    z-index: 100;
  }
  
  .subtitleCenter{
    font-family: "aktiv-grotesk",sans-serif;
    position: absolute; 
    top: 70%;
    /* left: calc(50% - 140px); */
    opacity: 0;
    z-index: 101;
    font-size: 20px;
    font-weight: bold;
  }
  
  .boxInfoLeft {
    font-family: "aktiv-grotesk",sans-serif;
    width: 20%;
    height: auto;
    position: absolute;
    line-height: 1.2;
    top: 30%;
    left: 21%;
    opacity: 0;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    text-align: left!important;
  }
  /*--------------------------------------ANIMATION2*/
  .titleHeroMegaBoltLineAnimation2{
    /* font-size: 4.5rem; */
    font-size: 90px;
    text-align: center;
    line-height: 0.8;
  }
  .titleHeroAnimationSection2{
    font-family: "aktiv-grotesk",sans-serif;
    font-weight: 800;
    width: 90%;
    position: absolute;
    top: 30%;
    opacity: 0;
    z-index: 100;
  }
  
  /*--------------------------------------ANIMATION3*/
  .positionTop25{
    position: absolute;
    top: 25%!important;
  }
  
  .boxInfoRight{
      font-family: "aktiv-grotesk",sans-serif;
      width: 22%;
      height: auto;
      position: absolute;
      line-height: 1.2;
      top: 50%;
      right: 5%;
      opacity: 0;
      font-size: 1.5rem;
      transform: translate(-50%, -50%);
      text-align: left!important;
    
  }
  
  /*--------------------------------------ANIMATION4*/
  .boxInfoCenter{
    font-family: "aktiv-grotesk",sans-serif;
    width: 27.5%;
    height: auto;
    position: absolute;
    line-height: 1.2;
    top: 47%;
    left: 50%;
    opacity: 0;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    text-align: left!important;
  }
  
  /*--------------------------------------ANIMATION5*/
  .yellowBox{
    font-family: "aktiv-grotesk",sans-serif;
    font-weight: 600;
    font-size: 58px;
    width: 69%;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: left;
    opacity: 0;
    transform: translate(-50%, -50%);
    line-height: 1.2;
    z-index: 100;  
    padding: 75px 100px;
    background-color: rgba(204, 219, 36, 0.4);
  }
  
  .leaveToLeftStyles{
    /* display: none; */
    /* animation: leaveToLeftStylesAnimation 1s linear; */
  }
  @keyframes leaveToLeftStylesAnimation {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
  
  
    100% {
      transform: translateX(-100%);
      opacity: 0;
      /* display: none; */
    }
  }


  